<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<uses-permission android:name="android.permission.NFC" /> <!-- For Triangle, as well as the Omron BP Monitors -->
<uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- We also ask for FINE_LOCATION for both BT and for Google Fit -->

<!-- Needed only if your app looks for Bluetooth devices.
     If your app doesn't use Bluetooth scan results to derive physical
     location information, you can strongly assert that your app
     doesn't derive physical location. -->
<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

<!-- Needed only if your app communicates with already-paired Bluetooth
     devices. -->
<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

<!--    <uses-permission-->
<!--        android:name="android.permission.ACCESS_FINE_LOCATION"-->
<!--        tools:ignore="CoarseFineLocation" />-->

<!-- For Google Fit -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- For recurring alerts -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- GCM Permissions -->
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<permission
    android:name="${applicationId}.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />

<uses-feature
    android:name="android.hardware.microphone"
    android:required="false" />
<uses-feature
    android:name="android.hardware.audio.low_latency"
    android:required="false" />
<uses-feature
    android:name="android.hardware.nfc"
    android:required="false" />
<uses-feature
    android:name="android.hardware.bluetooth"
    android:required="false" />
<uses-feature
    android:name="android.hardware.bluetooth_le"
    android:required="false" />


<application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:networkSecurityConfig="@xml/network_security_config"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".LastResultActivity"
        android:exported="false" />
    <activity
        android:name=".RecordingListActivity"
        android:exported="false"
        android:label="@string/title_recording_list"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".SettingsActivity"
        android:exported="false"
        android:label="Settings"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".RecordingDetailActivity"
        android:exported="false"
        android:label="@string/title_recording_detail"
        android:parentActivityName=".RecordingListActivity"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.alivecor.testapp.RecordingListActivity" />
    </activity>
    <activity
        android:name=".CustomFlowActivity"
        android:exported="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    <activity android:name=".LanguageSelectionActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".MainActivity"
        android:exported="true">
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:enabled="true"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
</application>

</manifest>